* {
	font-family: 'montserrat'
}


body {
	padding-left: 30px;
	padding-right: 30px;

}

#page-title {
	color: #4CAF50;
	padding: 10px;
}

#divider {
	width: 80vw;
	height: 1px;
	margin-left: 10px;
	border: 0.5px solid lightgrey;
}
